
body{
    background-color: rgb(208, 212, 212);
}

.espa{
    margin-top: 30px;
    margin-bottom: 130px;
}
.espa1{
    margin-top: 110px;
    margin-bottom: 50px;
}
.bg{
    background-color: rgba(10, 134, 150, 0.199);
}
.sec{
    background-color: rgba(64, 156, 148, 0.637);
    
}